# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Julia\Desktop\sem1\MultiAgentSystems\COMP30240_MultiAgentSystemsLabs\astra-eis-tower\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
